<h1>Diarize</h1>

<form action="/diarize/video" method="GET" class="video-form">
  <input type="text" name="url" placeholder="https://www.youtube.com/watch?v=..." />
  <button type="submit">diarize me baby</button>
</form>
