<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <!-- Add any common CSS or JS files here -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

    <style>
      body {
        max-width: 960px;
      }

      h1, h2 {
        text-align: center;
      }

      #player {
        text-align: center;
        margin: 0 auto;
        display: flex;
      }

      #subtitles {
        text-align: left;
        margin: 0 auto;
        display: flex;
        gap: 10px;
        background: #343434;
        color: white;
        padding: 1em;
        width: 640px;
        box-sizing: border-box;

        #speaker {
          color: white;
        }
      }

      .side-by-side-container {
        display: flex;
        justify-content: space-around;
        margin-top: 2em;
        background: #f1f1f1;
        padding: 1em;
        border-radius: 0.2em;
      }
    </style>
</head>
<body>
    <header>
        <!-- Common header content -->
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <!-- Common footer content -->
    </footer>
</body>
</html>
